@import 'mixins', 'global';

header {
  width: inherit;
  height: fit-content;
  padding: $padding;

  section#slideshow {
    position: relative;
    display: block;
    box-sizing: content-box;
    width: 100%;
    height: 512px;
    margin: $margin 0 $margin * 4 0;
    pointer-events: none;
    user-select: none;

    figure.slideshow.fade {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: $padding * 2;
      box-sizing: border-box;
      //border: 1px solid color(accent);
      transition: opacity 1s, z-index 2s, transform 2s;

      img {
        width: inherit;
        height: inherit;
        object-fit: cover;
        z-index: 999;
        opacity: inherit;
      }

      figcaption {
        display: none;
      }

      div.border {
        width: inherit;
        height: inherit;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        @include scanlines(#fff, 2px, 0deg, 0.025);

        div {
          position: absolute;
          width: 32px;
          height: 32px;
          background-image: url(images/corners_64_BloomOrange.png);
          filter: hue-rotate();
        }

        :nth-child(1) {
          top: 0;
          left: 0;
          background-position: top left;
        }

        :nth-child(2) {
          top: 0;
          right: 0;
          background-position: top right;
        }

        :nth-child(3) {
          bottom: 0;
          left: 0;
          background-position: bottom left;
        }

        :nth-child(4) {
          bottom: 0;
          right: 0;
          background-position: bottom right;
        }
      }
    }
  }

  section#hero {
    position: relative;
    padding: $padding;
  }
}

footer {
  background-color: rgb(10, 10, 10);
  padding: $padding * 2;
}

// Laptop sizes and larger...
@media (min-width: 1200px) {
  body {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
  }

  header,
  main,
  footer {
    flex: 1;
  }

  nav,
  footer {
    width: 100%;
  }

  header,
  main {
    max-width: 1000px;
  }

  nav h1 {
    font-size: 16vh;
  }
}
